.det{
color: blue ;
}
.usName tr td {
    color:#090c0f;
    font-size: 30px;
    font-family: tahoma;
    padding: 20px;



}
.kaka{
    font-size: 35px;
}
.axax{
    
    color:black;
    font-size: 30px;
    margin-left:30px ;
}