
.cs142-topbar-appBar {
  height: 60;
  justify-content: 'center';
}
.ner{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: tomato;
    margin-left: 1000px;
}
.aay
{
  margin-left: 1000px;
}
.lwlw{
  width: 10px;
  height: 10px;
  margin-top:10px ;
}

